:root {
    --custom-primary-dark: #243183;
    --custom-primary: #394cd1;
    --custom-secondary-dark: #6c6c6c;
    --custom-secondary: #b7b7b7;
}

#navbar{
    height: 75px; 
    background-color: var(--custom-primary);
}

#sidebar-wrapper{
    background-color: var(--custom-primary-dark);
}

.navbar-collapse li{
    border-width: 1px 0;
    border-color: #5864b7;
    border-style: solid;
}
.navbar-collapse li > a{
    text-decoration: none;
}
.navbar-collapse li.active{
    /* font-weight: bold; */
    background-color: #495bda;
}
.navbar-collapse li.active > a{
    font-weight: bold;
}

.table-custom>thead {
    background-color: var(--custom-primary);
    color: white;
    height: 70px;
}

.table-custom>tbody>tr td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.modal-custom .modal-header{
    background-color: var(--custom-primary);
    color: white;
    padding: 0.6rem 1rem;
}

.modal-custom .modal-content{
    border-radius: 20px;
    overflow: hidden;
}

.btn-custom-primary {
    background-color: var(--custom-primary);
    color: white;
    border-radius: 40px;
    height: 28px;
    padding: 0 25px;
}

.btn-custom-primary:hover {
    color: white;
    background-color: var(--custom-primary-dark)
}

.btn-custom-secondary {
    background-color: var(--custom-secondary);
    color: white;
    border-radius: 40px;
    height: 28px;
    padding: 0 25px;
}

.btn-custom-secondary:hover {
    color: white;
    background-color: var(--custom-secondary-dark);
}

.btn-custom-danger {
    background-color: transparent;
    color: #d68088;
    border-radius: 40px;
    height: 28px;
    padding: 0 25px;
}

.btn-custom-danger:hover {
    color: white;
    background-color: #ff5a6a
}

.input-group-custom input{
    border-radius: 40px;
    height: 28px;
    border-right: none;
}
.input-group-custom .input-group-text{
    height: 28px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: unset;
    border-left: none;
}

.input-custom::-webkit-input-placeholder, .input-group-custom input::-webkit-input-placeholder{
    font-style: italic;
}
.input-custom::-moz-placeholder, .input-group-custom input::-moz-placeholder{
    font-style: italic;
}
.input-custom:-moz-placeholder, .input-group-custom input:-moz-placeholder{
    font-style: italic;
}
.input-custom:-ms-input-placeholder, .input-group-custom input:-ms-input-placeholder{
    font-style: italic;
}